## EXPERIMENT 9
## NEHA BHAT A2-25070123032
## STUDY OF PANDAS LIBRARY

In [6]:
import pandas as pd
s=pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [11]:
# CREATE A DATAFRAME
data={
    "NAME":["Neha","Gayatri","Atharva"],
    "MARKS":[90,91,85]
}
df = pd.DataFrame(data)
df

      NAME  MARKS
0     Neha     90
1  Gayatri     91
2  Atharva     85

In [12]:
# FIND THE STRUCTURE OF THE DATAFRAME

df.shape

(3, 2)

In [13]:
df.ndim

2

In [14]:
df.size

6

In [15]:
# DISPLAY COLUMN NAMES
df.columns

Index(['NAME', 'MARKS'], dtype='object')

In [16]:
# CHECK DATA TYPS FOR  EACH COLUMN
df.dtypes

NAME     object
MARKS     int64
dtype: object

In [21]:
# ACCESS THE INDIVIDUAL COLUMN
df["NAME"]

0       Neha
1    Gayatri
2    Atharva
Name: NAME, dtype: object

In [22]:
df["MARKS"]

0    90
1    91
2    85
Name: MARKS, dtype: int64

In [25]:
df.loc[0]

NAME     Neha
MARKS      90
Name: 0, dtype: object

In [28]:
# ADD A NEW COLUMN
df["GRADE"]=["FIRST CLASS ","DISTINCTION","SECOND CLASS"]
df

      NAME  MARKS         GRADE
0     Neha     90  FIRST CLASS
1  Gayatri     91   DISTINCTION
2  Atharva     85  SECOND CLASS

In [29]:
# UPDATE DATA IN DATAFRAME
# CHANGE MARKS OF STUDENT
df.loc[0,"MARKS"]=98
df

      NAME  MARKS         GRADE
0     Neha     98  FIRST CLASS
1  Gayatri     91   DISTINCTION
2  Atharva     85  SECOND CLASS

In [31]:
# DELETE A COLUMN
df.drop("GRADE",axis=1,inplace=True)
df

      NAME  MARKS
0     Neha     98
1  Gayatri     91
2  Atharva     85

In [32]:
# PERFORM BSIC STATISTICAL ANALYSIS
mean1=df["MARKS"].mean()
mean1

np.float64(91.33333333333333)

In [33]:
min1=df["MARKS"].min()
min1

85

In [34]:
max1=df["MARKS"].max()
max1

98

In [36]:
# APPLY CONDITION (FILTERING)
# DISPLAY STUDENTS SCORING MORE THAN 86
df[df["MARKS"]>86]

      NAME  MARKS
0     Neha     98
1  Gayatri     91